* {
    padding: 0px;
    margin: 0px;
}

.content {
    width: 650px;
    height: 430px;
    background: #82bffd;

    /*border: 3px solid #82bffd;*/
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -325px;
    margin-top: -215px;
}


/*h2 {
		font-family: "Microsoft YaHei";
		font-size: 16px;
		text-align: center;
	}
*/

.main {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    height: 430px;
}

#box1,
#box2,
#box3 {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
}

.block1 {
    background: #ff8b74;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, .1);
    border: 2px solid #fff;
}

.block2 {
    background: #ffd76c;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, .1);
    border: 2px solid #fff;
}

.block3 {
    background: #b9f06a;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, .1);
    border: 2px solid #fff;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.block4 {
    background: #ffcc8a;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, .1);
    border: 2px solid #fff;
}

.block5 {
    background: #8ae3cb;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, .1);
    border: 2px solid #fff;
}
